/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: rgb(100, 100, 100);
}

nav {
    display: flex;
    height: 3rem;
    background-color: rgb(90, 90, 90);
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    flex-wrap: wrap;
}

nav>a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: greenyellow;
    color: black;
    font-size: large;
    font-weight: bold;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
    border: 3px solid black;
    padding: 0 10px;
    box-sizing: border-box;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p {
    padding: 20px;
    font-size: large;
    color: rgb(31, 16, 16);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
}

#content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    justify-content: space-between;
    grid-gap: 20px;
}

#content a {
    display: flex;
    margin: 10px;
    height: 10rem;
    width: 10rem;
    justify-content: center;
    background-color: greenyellow;
    align-items: center;
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    border: 2px solid black;
    text-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
}

#content a:hover {
    background-color: rgb(82, 126, 16);
}